<ion-view title="Signup" id="signupurl">
	<ion-content padding="true" class="has-header">
		<form id="signup-form" class="list">
			<ion-list>
				<label class="item item-input item-stacked-label">
					<span input="input-label">Full Name</span>
					<input type="text" placeholder="Full Name">
				</label>
				<label class="item item-input item-stacked-label">
          <span class="input-label">User Name*</span>
          <input type="text" placeholder="User Name">
        </label>
        <label class="item item-input item-stacked-label">
        	<span class="input_label">Contact No.*</span>
        	<input type="tel" placeholder="Mobile Number">
        </label>
        <label class="item item-input item-stacked-label">
        	<span class="input-label">Email id</span>
        	<input type="email" placeholder="email@xyz.com">
        </label>				
				<label class="item item-input item-stacked-label">
					<span class="input-label">Block No.</span>
					<input type="tel" placeholder="wing/block Number">
				</label>		
				<label class="item item-input item-stacked-label">
					<span class="input-label">Flat No.</span>
					<input type="tel" placeholder="Room/Flat Number">
				</label>
				<label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="text" placeholder="Select Password">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Confirm Password</span>
          <input type="password" placeholder="Repeat Password">
        </label>
			</ion-list>
			<a ui-sref="login" class="button button-positive button-block">Submit</a>
		</form>
	</ion-content>
</ion-view>