/* Empty. Add your own CSS if you like */
.title_w{
	text-align: center;
}
.welcome{
	text-align: center;
	position: relative;
}
.option{
	text-align: center;
}
/******************************login**************************/

/*.sign{
	margin-top: 85px;
}*/